@import 'styles/main.scss';

.form-pass {
	max-width: 700px;
	min-width: 300px;

	&__label {
		padding: 0.125rem;

		background-color: $background-color-card;

		font-size: $font-size-giant;

		border-color: $background-color-card;

		&:focus {
			border-color: $background-color-body;
		}
	}

	> .button {
		margin-top: 1.5rem;
	}
}
