@import '../../styles/main.scss';
@import '../../styles/utils.scss';

.form {
	min-width: 500px;

	&__input {
		flex-basis: calc(100% - 2.5rem);

		padding: 0.125rem;

		background-color: $background-color-card;

		font-size: $font-size-giant;

		border-color: $background-color-card;

		&:focus {
			border-color: $background-color-body;
		}
	}

	&__image-wrapper {
		flex-basis: 2.5rem;

		background-color: darken($background-color-card, 3%);
	}

	> .button {
		margin-top: 1.5rem;
	}
}
