@import './main.scss';

.margin-left {
	margin-left: auto;
}

.margin-right {
	margin-right: auto;
}

.margin-bottom {
	margin-bottom: 1.5rem;
}

.container {
	@include flex(column, center, initial);

	width: 60%;

	margin: 0 auto;
}

.button {
	@include flex(row, center, center);

	height: 2.5rem;
	min-width: 100px;

	padding: 0.625rem;

	border-radius: 0.5rem;

	font-size: $font-size-medium;
	font-weight: 600;

	transition: 0.5s;

	will-change: transform;

	&:focus {
		outline: none;
	}

	&:active {
		transform: scale(1.099) perspective(1px);
	}
}

@mixin button-color($color) {
	@include border(0.125rem, $color, 0.5rem);

	color: ghostwhite;

	background-color: transparent;

	&:hover {
		background-color: $color;
	}
}

.button-original {
	@include button-color($color-original);
}

.button-primary {
	@include button-color($color-primary);
}

.button-success {
	@include button-color($color-success);
}

.button-danger {
	@include button-color($color-danger);
}

.input-wrapper {
	display: flex;
	align-items: stretch;

	> * {
		box-sizing: border-box;
	}

	.input {
		box-sizing: border-box;

		border-radius: 0.3rem 0 0 0.3rem;
		border-right: 0;
	}

	.image-wrapper {
		@include flex(row, center, center);

		border-radius: 0 0.3rem 0.3rem 0;

		> .button {
			@include flex(row, center, center);

			min-width: initial;
			height: initial;

			padding: 0;

			border: 0 solid transparent;
			background-color: transparent;

			&:focus {
				outline: none;
			}

			> img {
				object-fit: fill;
			}
		}
	}
}

.input {
	@include border(0.125rem, transparent, 0);

	color: ghostwhite;

	transition: 0.3s;

	will-change: transform;

	&:focus {
		outline: none;
	}
}
