header {
	padding: 15px;
	margin-bottom: 25px;

	height: 60px;
	background-color: #93ccb3;

	display: flex;
	align-items: center;

	border-bottom: solid #a3cfbb 1px;

	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
