@import 'styles/main.scss';

.question-edit-wrapper {
	.question-edit {
		@include flex(column, initial, initial);
		@include card(0.125rem, 0.625rem, $background-color-card);

		padding: 1.5rem;
		margin-top: 1.5rem;

		&__parameters-line {
			@include flex(row, space-between, initial);

			> * {
				width: 48%;
			}
		}

		&__input {
			background-color: $background-color-input;

			font-size: $font-size-large;

			border-color: $background-color-input;

			&:focus {
				border-color: darken($background-color-card, 8%);
			}
		}

		&__selector {
			@extend .question-edit__input;

			flex-basis: initial;
		}

		&__button-line {
			@include flex(row, initial, initial);

			margin-top: 1rem;
		}
	}
}
