body {
	margin: 0;
	padding: 0;

	background-color: #d2f4ea;
}

#root {
	height: 100vh;

	display: flex;
	flex-direction: column;
}

.button {
	height: 40px;

	padding: 10px;
	margin-left: auto;

	border: 1px solid rgb(65, 61, 61);
	border-radius: 7px;

	font-size: 16px;
	box-shadow: 0 0 3px;
}

.button:focus {
	outline: none;
}
